.codebuddy/
.vscode/

.idea/
*.iml
*.iws
*.ipr

target/
!**/src/main/**/target/
!**/src/test/**/target/

log/
!**/src/main/**/log/
!**/src/test/**/log/

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

*.log
