<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>MoonAssistant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4 shadow">
            <div>
                <p>
                    <span th:text="${performance.getComputerName()}"></span>
                    <span>屏幕截图</span>
                </p>
                <img id="screenshot" src="/api/screenshot?scale=0.5&refresh=0" alt="Placeholder Image" class="img-fluid">
            </div>
        </div>
        <div class="col-4 shadow">
            <div>
                <p>
                    <span th:text="${performance.getComputerName()}"></span>
                    <span>资源监控</span>
                </p>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<script th:inline="javascript">
    // 日志函数
    window.now = function () {
        return (new Date()).toLocaleString(undefined, {year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit'})
    };
    window.log = {};
    window.log.info = function (...data) {
        console.log(now() + '  ', ...data);
    }
    window.log.error = function (...data) {
        console.error(now() + '  ', ...data);
    }

    // 屏幕截图
    const screenshot = document.getElementById('screenshot');
    const refreshScreenshot = function () {
        let url = new URL(screenshot.src);
        if(url.searchParams.has('refresh')){
            url.searchParams.set('refresh', Math.random());
        }
        var img = new Image();
        img.onload = function () {
            log.info('img load success: ', url);
            screenshot.src = url.toString();
        };
        img.onerror = function () {
            log.error('img load error: ', url);
        };
        img.src = url.toString();
    }
    setInterval(refreshScreenshot, 2000);

    // 资源监控
    const myChartCanvas = document.getElementById('myChart');
    const myChartData = /*[[ ${performance} ]]*/ {};
    const myChart = new Chart(myChartCanvas, {type: 'line', data: myChartData, options: {animation: false, scales: {y: {min: 0, max: 100}}}});
    const refreshChart = function () {
        fetch('/api/performance')
            .then(response => {
                if (!response.ok) throw new Error('fetch response failed');
                return response.json();
            })
            .then(data => {
                log.info('fetching data: ', data);
                myChart.data = data;
                myChart.update();
            })
            .catch(error => {
                log.error('fetching data error: ', error);
            });
    };
    setInterval(refreshChart, 3000);
</script>
</body>

</html>
